/*External stylesheet, e.g. styles.css*/

/*all elements, using * */
* {
	/* For the document as a whole, assign a default font that is sans-serif, and assign two other fallback sans-serif fonts to that same style declaration*/
	font-family: Helvetica, Arial, sans-serif;
	/*Set the default line height to be greater than the default (e.g. up to 2x the default)*/
	line-height: 1.75;
}
/*element*/

h1 {
	text-align: center;
	text-shadow: 2px 2px 5px #5c5552;
	color: blue;

}

h2 {
	border-bottom: 1px solid gray;
}


/*id*/

#special {
	background-color: #d14e0d;
	color: #ffc596;
	padding-left: 10px;
}


/*class*/
.class1 {
	background-color: #eaf26f;
	color: #F7A8BA;
	padding-left: 10px;

}
.class2{
	
	outline: 4px solid #F7A8BA;
	color: #cf274b;
	padding-left: 10px;

}
.class3{
	border-top: 4px solid #F7A8BA;
}
p {
/*Override a style using the !important modifier*/

color: #504F4F !important;

}

h4.classy{
	color: #24285e;
}

h4, h5 {
	color: #3140e8;
}

ol li{
	font-family: Courier;

}

ol li{
	font-family: Georgia;

}
ul li {

}

/*a:hover,*/
a:focus{
	color: green;
	background-color: #eee;
	outline:  1px solid #ccc; 
}

a:hover{
	color: black;
	background-color: #eee;
	outline:  1px solid #ccc; 
}

a:active{
	color: red;
}

[alt="the caption from html"]{
	width: 100%;
}

a[href$="dog.pdf"]{
	background-color: orange;
}

/* Float an item to the left so that text wraps around it */
.floatleft{
	float: left;
	width: 30%;
}

.floatright{
	padding: 10px;
	float:right;
	width: 25%;
}

.clear {
	clear: both;
}
/*alternating rows of a table*/
tr:nth-child(odd){
		background-color: #D7BDE2;
		}
tr:nth-child(even){
		background-color: #eee;
		}

.shadow{
	box-shadow: 2px 2px 5px #DAF7A6;
	padding: 20px;
	border-radius: 25px;
}

nav{
	/*Task 4.2.1: Create a border around the navigation list as a whole (all of the navigation links must be inside that border)*/
	border: 1px solid green;
	background-color: #D5A8F7

}

nav ul{
	margin: 0;
	padding:0;
}

nav li{
	/*Task 4.2: Style an ordered list so that the links appear horizontal, as in a menu bar or navigation bar of a website.*/
	display: inline;
	padding-left: 30px;

}

nav li a {
	padding: 20px 30px;
}

main{
	border-style: double;
	padding: 10px;
}
header{
	background-color: #A8F7BF;
	color: #707a6c;
	padding-left: 10px;
}

footer{
	background-color: #F7A8E9;
	/*Center the text in the footer*/
	text-align: center;
}
body{
	background-color: #A8D6F7;
}

p{
	color: green;

}

.style3{
	color: #65660e;
}

/*Override a style by declaring it again (but differently)*/
/*use a single selector instance to assign the same styles to multiple elements*/

h3{
	color: #153338;
}

/* Task 2.1: Override a style by declaring it again (but differently)*/
h6{
	color: blue;
}

h6{
	color:purple;
}


.myImage{
	background: url("img3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 600px;
}


.test-text::after {
  content: " <- crazy huh?";
  color: green;
}